{% extends 'base.html.twig' %}

{%  block content %}

    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1em;">
        <h1>Edit project</h1>

        <a class="btn btn-danger" href={{ path('project') }}>
            Back to projects
        </a>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{%  endblock %}
